@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

/* DARK theme styles */
html.dark body {
  @apply bg-background text-primary-text;
}

/* LIGHT theme styles */
html:not(.dark) body {
  @apply bg-light-background text-light-primary-text;
}


@keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(-5px); }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateY(-5px); }
}

.animate-fade-in-out {
  animation: fade-in-out 2s ease-in-out forwards;
}
